<section class="section">
  <p class={{ typhohelper1 }}>{{ name }}</p><br />
  <!-- Informações Pessoais -->
    <!-- Nome, Recado, Telefones e E-mail -->
    <h2 class={{ typhohelper2 }}>Informações Pessoais</h2><br><br>
    <p class={{ typhohelper2}}>{{ nome }}</p><br>
    <p class={{ typhohelper2}}>{{ recado }}</p><br>
    <p class={{ typhohelper2}}>{{ telefone }}</p><br>
    <p class={{ typhohelper2}}>{{ celular }}</p><br>
    <p class={{ typhohelper2}}>{{ email }}</p><br>
    <p class={{ typhohelper2}}>{{ endereco }}</p><br>
    <p class={{ typhohelper2 }}>{{ cep }}</p><br>
    <p class={{ typhohelper2 }}>{{ complemento }}</p><br>
    <p class={{ typhohelper2 }}>{{ cidade }}</p><br><br>

    <!-- Informações do Pgto -->
    <h2 class={{ typhohelper2 }}>Informações do Pagamento</h2><br><br>
    <p class={{ typhohelper2 }}>1º Pagamento: {{ primeiro }}</p><br>
    <p class={{ typhohelper2 }}>{{ parcelas }} parcelas</p><br>
    <p class={{ typhohelper2 }}>Forma de Pgto: {{ forma }}</p><br>
    <p class={{ typhohelper2 }}>Valor da Parcela: {{ quantia }}</p><br>
</section>